<div class="fom">
    <div class="container" >
        <div class="row">
           <div class="col-md-6" style="background-color: white;width:300px;padding-left:7px;height:100px;margin-left: 35%;">
             <input type="text" name="nom" id="nom" placeholder="Username" [(ngModel)]="Username" style="margin-top:15px;">
             <br>
             <br>
             <br>
             <button (click)="search()">SEARCH</button>
           </div>
           <br>
           <br>
           <br>
           <br>
           <div *ngIf = "emma"> 
             <div class="col-md-6" style="background-color:aliceblue;height:450px;width:400px;padding-top:20px;padding-left:27px;margin-left: 30%;">
               <img src="{{emma.avatar_url}}" class="img" height="200">
               <p>Login: {{emma.login}}</p>
               <p>Email: {{emma.email}}</p>
               <p>Repositories:{{emma.public_repos}}</p> 
               <p>Followers: {{emma.followers}}</p>
               <p>Following: {{emma.following}}</p> 
               <p>Link: <a href="{{emma.html_url}}">{{emma.html_url}}</a></p>
             </div>
            
            </div>  
        </div>
    </div>  
</div>
<div class="foot" style="margin-top:19%;text-align:center;font-weight:bold;color:black;background-color:white">
    <footer>Copyright@Gitsearch2019</footer>
</div>
