/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */
body{
  background-image: url("../close-up-blank-old-concrete-wall_23-2147856094.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

